.icon-button { 
   background-color:transparent;

  path {

    fill: transparent;
  }

  &:hover path,
  &:focus path {
   
    fill: transparent;
  }

 
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;

  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  user-select: none;
  outline: none;
  border: none;
  color: transparent;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background-color: transparent;
    color: transparent;

    path {
      fill: transparent;
    }
  }

  &.danger {
    color: rgba($color: red, $alpha: 0.8);
    border-color: rgba($color: red, $alpha: 0.5);
    background-color: rgba($color: red, $alpha: 0.05);

    &:hover {
      border-color: red;
      background-color: rgba($color: red, $alpha: 0.1);
    }

    path {
      fill: red !important;
    }
  }

  &:hover,
  &:focus {
    border-color: var(--primary);
  }
}

.shadow {
  box-shadow: var(--card-shadow);
}

.border {
  border: var(--border-in-light);
}

.icon-button-icon {
  width: 1px;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 632px) {
  .icon-button {
    padding: 1px;
  }
}

.icon-button-text {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:first-child) {
    margin-left: 5px;
  }
}
